* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    font-size: 25px;
    font-weight: bold;
}

.first-section {
    gap: 700px;
    display: flex;
    margin-left: 30px ;
    margin-top: 20px;
}
ul {
    display: flex;
    list-style: none;
    gap: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}
h2 {
    color: orangered;
    font-size: 40px;
    margin-bottom: 15px;
}
p {
   color: white;
   font-size: 20px;
   margin-bottom: 25px;
}

.second-section a{
 border: solid blue;
 border-radius: 20px;
 background: blue;
 color: white;
 border-width: 7px;
}
.second-section {
    margin-left: 280px;
    margin-top: 210px;
}
 @media screen and (max-width: 756px){
    .first-section {
        /* gap: 60px; */
        margin-left: 10px;
        display: block;
        text-align: center;
        margin-right: 60px;
    }
    ul {
        /* gap: 15px; */
        display: block;
        text-align: center;
        font-size: 22px;
        /* margin-top: 20px; */
    }
    .logo{
        font-size: 30px;
    }
    body {
        background-position: center 220px;
    }


    li {
        margin-top: 20px;
    }


    .second-section {
        margin-left: 10px;
    }
    h2 {
        font-size: 30px;
        margin-left: 35px;
    }
    p{
        font-size: 20px;
        margin-left: 55px;
    }
    .second-section a {
        font-size: 20px;
        margin-left: 90px;
    }
 }